<!doctype html>
<html lang="ru">
@using PresentationLayer.Models;
@model FileModel;
@{
    ViewData["Title"] = "Загрузить тест";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="https://itchief.ru">
    <link href="/examples/libs/bootstrap-5/bootstrap.min.css" rel="stylesheet">
    <script defer src="/examples/libs/bootstrap-5/bootstrap.bundle.min.js"></script>
    <title>Демо модального окна Bootstrap 5</title>
</head>

<body>

    <div class="container py-5 text-center">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
            Открыть модальное окно2
        </button>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Заголовок</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-5">Содержимое...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
